.page {
  background: url('../images/bg-stars.svg'), linear-gradient(#1e1e28, 50%, #251d2c);
  font-family: 'Red Hat Text', sans-serif;
  margin: 0;
  max-height: 100vh;
}

.main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: url('../images/pattern-hills.svg') no-repeat 0 bottom;
  background-size: contain;
}

.title {
  margin: 0;
  padding-top: 140px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5rem;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
}

.timer {
  width: 690px;
  display: flex;
  justify-content: space-between;
  margin: 80px auto 0;
}

.timer__container {
  display: flex;
  flex-direction: column;
}

.timer__cell {
  position: relative;
  width: 148px;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#2c2c44 50%, #34364f 50%);
  border-radius: 6px;
  box-shadow: 0px 10px 0px #1a1a22;
  overflow: hidden;
}

.timer__number {
  font-size: 68px;
  line-height: 68px;
  background: -webkit-linear-gradient(#d54f72 50%, #ff5d82 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timer__unit {
  margin: 30px auto 0;
  color: #8182a0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.timer__point {
  position: absolute;
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1a1a22;
}

.timer__point-left {
  left: -6px;
}

.timer__point-right {
  right: -6px;
}
