.page {
  background: url('../images/bg-stars.svg'), linear-gradient(#1e1e28, 50%, #251d2c);
  font-family: 'Red Hat Text', sans-serif;
  margin: 0;
  max-height: 100vh;
}

.main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: url('../images/pattern-hills.svg') no-repeat 0 bottom;
  background-size: contain;
}

.title {
  margin: 0;
  padding-top: 140px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5rem;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
}

.timer {
  width: 690px;
  display: flex;
  justify-content: space-between;
  margin: 80px auto 0;
}

.timer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .timer__cell {
  width: 148px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  overflow: hidden;
}

.timer__cell-number {
  height: .75em;
  line-height: 1.85em;
}

.timer__cell-number_bottom {
  line-height: 0;
}

.timer__cell_top,
.timer__flip.flip::before {
  background-color: #2c2c44;
  border-radius: 6px 6px 0 0;
  color: #d54f72;
}

.timer__cell_bottom,
.timer__flip.flip::after {
background-color: #34364f;
border-radius: 0 0 6px 6px;
color: #ff5d82;
display: flex;
align-items: flex-start;
box-shadow: 0px 10px 0px #1a1a22;
} */

/* .timer__flip.flip::before {
  position: absolute;
  content: '61';
  width: 100%;
  font-size: 68px;
  height: 1em;
  line-height: 2.20em;
  text-align: center;
  overflow: hidden;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

.timer__flip.flip::after {
  position: absolute;
  bottom: 0;
  content: '61';
  width: 100%;
  font-size: 68px;
  height: 1em;
  text-align: center;
  overflow: hidden;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
} */

.timer__title {
  margin: 30px auto 0;
  color: #8182a0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.timer__point {
  position: absolute;
  top: 68px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1a1a22;
}

.timer__point-left {
  left: -6px;
}

.timer__point-right {
  right: -6px;
}

/* Countdown styles */



.flip-card {
  width: 74px;
  height: 148px;
}

.flip-card__wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  border-radius: 6px 6px 0 0;
}

.flip-card__top,
.flip-card__bottom,
.flip-card__wrapper .top-flip,
.flip-card__wrapper .bottom-flip {
  height: .5em;
  line-height: 1;
  overflow: hidden;
}

.flip-card__top,
.flip-card__wrapper .top-flip {
  color: #d64e72;
  background-color: #2c2c44;
  display: flex;
  align-items: flex-start;
}

.flip-card__bottom,
.flip-card__wrapper .bottom-flip {
  color: #fc5d83;
  background-color: #34364f;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.flip-card__wrapper .top-flip {
  position: absolute;
  bottom: 80px;
  width: 100%;
  animation: flip-top 250ms ease;
  transform-origin: bottom;
  justify-content: flex-start;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card__wrapper .bottom-flip {
  position: absolute;
  bottom: 40px;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
  justify-content: flex-start;
  background: linear-gradient(#2c2c44 20%, #34364f);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.flip-card__top {
  height: 74px;
  display: flex;
  align-items: flex-end;
  line-height: 0;
  justify-content: end;
}

.flip-card__bottom {
  height: 74px;
  display: flex;
  align-items: flex-start;
  line-height: 0;
  justify-content: end;
}

.flip-card_right {
  justify-content: flex-start;
}

.bottom-flip {
  width: 300px;
}

/* ПОПЫТ */

.timer__flip-card {
  position: relative;
  width: 148px;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
  overflow: hidden;
  border-radius: 6px;
  background: linear-gradient(#2c2c44 50%, #34364f 50%);
  box-shadow: 0px 10px 0px #1a1a22;
  z-index: 1;
}

.flipcard__number {
  width: 148px;
  display: flex;
  justify-content: center;
  height: 1em;
  line-height: 0rem;
  overflow: hidden;
}

.flipcard__number_top {
  color: #d64e72;
  align-items: flex-end;
  z-index: 5;
}

.flipcard__number_bottom {
  color: #fc5d83;
  z-index: 5;
}

.test {
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  background-color: #2c2c44;
  animation: flipOne 1s infinite;
  box-shadow: 0px 6px 0px #1a1a22;
  z-index: 1;
}

@keyframes flipOne {
  from {
    opacity: .6;
    height: 50%;
  }

  to {
    opacity: .1;
    height: 100%;
  }
}